body {
    display:grid;
    grid-template-rows:repeat(7,100px);
    grid-template-columns:repeat(10,1fr);
    margin:0px 0px 0px 0px;
    background-color:indianred;
}
.titlebar{
    background-color:black;
    color:white;
    display:flex;
    align-content:flex-start;
    grid-column:span 10;
    border-bottom:10px solid white;
}
#map{
    width:100%;
    height:400px;
    background-color:gray;
    grid-column:2/span 8;
    grid-row:3/span 4;
    border:10px solid white;
    border-radius:5px;
}
.navbar {
    position: fixed;
    bottom: 0px;
    grid-column: span 10;
    width: 100%;
    align-content: flex-end;
}
.navbar ul{
    height:50px;
    display:flex;
    list-style:none;
    margin:0px auto;
    background-color:black;
    color:white;
    border-top:10px solid white;
    flex-direction:row-reverse;
}
.navbar ul li{
    flex-basis:10%;
    text-align:center;
    padding-top:15px;
}